<div class="conteiner" *ngIf="validar()">
    <h3>Danos tu opinion</h3>
    <hr>
    <br>

    <form class="example-form" (submit)="onAddPost(postForm)" #postForm="ngForm">
      
        <mat-form-field class="example-full-width">

          <mat-label>¿Nos visitarias?</mat-label>
          <input matInput placeholder="Si, No, Talvez" name ="title" ngModel required #title="ngModel">
        
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>¿Por que?</mat-label>
          <textarea matInput placeholder="Ex. Me encatan las hambuerguesas" name="content" ngModel required #content="ngModel"></textarea>
        </mat-form-field>

        <button style="width: 100%;" mat-raised-button type="submit">Publicar</button> 
      </form>
</div>
