<div class="conteiner">
    <div class="categoria">
        <h3>CATEGORIA</h3>
        <hr>
        <p> Restaurante <i class="fa-solid fa-utensils"></i></p>
    </div>
    
    <br>

    <div class="Ubicacion"> 
        <h4>UBICACION</h4>
        <hr>
        <p>Vía láctea #603 local 2, San Francisco del Rincón, Mexico, 36310</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.07068644652!2d-101.85490122482354!3d21.02985748061977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842be848defa6b0b%3A0x88bd283e5639c20c!2sV%C3%ADa%20L%C3%A1ctea%20603-local%202%2C%20El%20Paraiso%2C%2036310%20San%20Francisco%20del%20Rinc%C3%B3n%2C%20Gto.!5e0!3m2!1ses!2smx!4v1695262293845!5m2!1ses!2smx" 
        width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
    </div>
    
    <br>
    
    <div class="Telefono">
        <h4>TELEFONO</h4>
        <hr>
        <p>476 587 1033 <i class="fa-solid fa-phone-volume"></i></p>
    </div>
</div>