<div class="container">

    <mat-card class="example-card">
        
        <mat-card-header>
          <mat-card-title>Datos del Usuario</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>

        <div class="post-image" style="text-align: center;" >
          <img [src]="imagen"style="border-radius: 5px; width: 100%; margin:auto; padding:0px;border:3px solid black; height: 250px;">
        </div>
        <br>
        <mat-card-content>
          <p><b>Nombre del Usuario:</b>{{nombre}}</p>
          <p><b>Apellido del Usuario:</b>{{apellido}}</p>
          <p><b>Telefono:</b>{{telefono}}</p>
          <p><b>Correo:</b>{{correo}}</p>
        </mat-card-content>

      </mat-card>

      <div class="boton">
        <button mat-raised-button (click)="onDelete()">Eliminar cuenta</button>
      </div>

      <div class="boton">
        <button mat-raised-button [routerLink]="['/edit', customData]">Editar cuenta </button>
      </div>

      <div class="boton">
        <button mat-raised-button (click)="cerrar()" >Cerras Sesion</button>
      </div>
</div>
