.conteiner {
  margin: 50px;
}
.example-tree-progress-bar {
    margin-left: 30px;
}

.Tree { 
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  background: black;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background: orange; 
}

mat-tree-node:hover{
  color:orange;
  transition: 0.2s ease-in;
}