<div class="conteiner">
    <h3 style="font-family: 'Courier New', Courier, monospace;">
        Disfruta de nuestros platillos
      </h3>
    <div class="tabs">
          <mat-tab-group dynamicHeight>
            <mat-tab label="Platillo">
              <div class="example-small-box mat-elevation-z4">
                <img style="width:250px; height:200px;" src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/407189052_845064860957499_5361872445583745984_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeHtPx6l3FpKK_JFDj8Hjn80Hopzoe1RRnceinOh7VFGd45PSOnmuQkBrlZxCqNs5GwxkhF0PiAF-KhcRevDciCN&_nc_ohc=z89uu7_l310AX-3FXGS&_nc_ht=scontent-qro1-2.xx&oh=00_AfCHVqMjj9F3W76mNXcJL9eLvFXx9MKNWXZbyQU6zlamvQ&oe=65713D71">
              </div>
            </mat-tab>
            <mat-tab label="Platillo">
              <div class="example-large-box mat-elevation-z4">
                <img style="width: 250px; height: 250px;" src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/406533192_845064704290848_1166151934616660765_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeGC7646dkQh_SPSfhGjmueAlix-22t35JqWLH7ba3fkmkIKsu1JtK1HZMjclfqX1j2qEZysm5zUz0eg27lc6nRu&_nc_ohc=NqbD9HB0C_YAX9284dk&_nc_ht=scontent-qro1-2.xx&oh=00_AfCKot1wJScDna8zfm7UXyxXze9oFkPEVP2XyOv01vG83w&oe=65716ACA">
              </div>
            </mat-tab>
            <mat-tab label="Platillo">
              <div class="example-small-box mat-elevation-z4">
                <img style="width:250px; height:200px;" src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/403729160_837136878416964_4414731758730342108_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeFMLBxPBUAaQEmS_8sD_L2WvYb6f_KuRyG9hvp_8q5HIdPEKGAX9Sb0qyJDfWKwwko4S9Ldln1as9WdEbLrWE6D&_nc_ohc=S-c_wjzpBkYAX_uvlZA&_nc_oc=AQl2VPcews-MwW2smDJ9b3qBljhKDt3Gf0It6bCpX_uuEI6yp-dNWFLo0aC2hNAsqlY&_nc_ht=scontent-qro1-2.xx&oh=00_AfCyHYPyNi7HCX-Wmbu1SNpcpOONrQtqgAnhP4IYsaXFSw&oe=6571DC2F">
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
</div>