<div class="conteiner">

    <h3 style="font-family: 'Courier New', Courier, monospace;">
        Disfruta de nuestros platillos
      </h3>
    
      <hr>
      <br>

    <div class="tabs">
          <mat-tab-group dynamicHeight>
            <mat-tab label="Platillo">
              <div class="example-small-box mat-elevation-z4">
                <img style="width:450px; height:400px;" src="https://scontent.fntr10-1.fna.fbcdn.net/v/t39.30808-6/395038796_820380593425926_8118759047746403494_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=nHg0GFi1KuIAX_fMCmk&_nc_ht=scontent.fntr10-1.fna&oh=00_AfCwALxWsZcRXQUVSy1l3hJwsjasGETgqs4PA3jHTLCngQ&oe=654307EE">
              </div>
            </mat-tab>
            <mat-tab label="Platillo">
              <div class="example-large-box mat-elevation-z4">
                <img style="width: 550px; height: 550px;" src="https://scontent.fntr10-1.fna.fbcdn.net/v/t39.30808-6/394743230_819987793465206_2344432750488859089_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=5fE7XB3iDCgAX-daoY4&_nc_ht=scontent.fntr10-1.fna&oh=00_AfAesVVyCgDxiF5tk1tNx9jjrU92sC548C8jluRa-UGPxA&oe=6543316A">
              </div>
            </mat-tab>
            <mat-tab label="Platillo">
              <div class="example-small-box mat-elevation-z4">
                <img style="width:450px; height:400px;" src="https://scontent.fntr10-2.fna.fbcdn.net/v/t39.30808-6/394740529_819000966897222_2051649499709088312_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=2HTcllpemjsAX-5Pddq&_nc_ht=scontent.fntr10-2.fna&oh=00_AfDdOzYaI-JqFMZiX9yJRhnxfqsSHMrpif0JylB0hnzLDQ&oe=65422506">
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
</div>