<div class="conteiner">

    <h3 style="font-family: 'Courier New', Courier, monospace;">
        Disfruta de nuestros platillos
      </h3>
    
      <hr>
      <br>

    <div class="tabs">
          <mat-tab-group dynamicHeight>
            <mat-tab label="Platillo">
              <div class="example-small-box mat-elevation-z4">
                <img style="width:450px; height:400px;" src="https://scontent-dfw5-1.xx.fbcdn.net/v/t39.30808-6/355679326_736399585157361_445428250144725742_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5614bc&_nc_eui2=AeGa5J10joBH75jR-ag3c8E4cv7SrghDcIFy_tKuCENwgdnbu1Af-OgE9cCq5IR_jecN18BFkIyPW5Qvqxd-w5Tb&_nc_ohc=W6YT7xrRfBIAX9UQjFk&_nc_zt=23&_nc_ht=scontent-dfw5-1.xx&oh=00_AfBlu8hKlqwUaKPFLPfMuf1CfMxSHOe-fcBFv41q_WnQYA&oe=650F8DC1">
              </div>
            </mat-tab>
            <mat-tab label="Platillo">
              <div class="example-large-box mat-elevation-z4">
                <img style="width: 550px; height: 550px;" src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/377717055_790687859728533_1032124729809357541_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5614bc&_nc_eui2=AeEfgZIMVZhZVrGPEm_p1lHQQ6WixQdEiqpDpaLFB0SKqoMi3Q9vMdmi1c48PwCrGtRMgUhp_cu1p5G6d-dFAexW&_nc_ohc=w4JhsJgC3qEAX_C5aAO&_nc_ht=scontent-qro1-1.xx&oh=00_AfCHOolohI6tWCXD8geQC4dfe9GD7QH1tOQnhxziPFNcIQ&oe=65108220">
              </div>
            </mat-tab>
            <mat-tab label="Platillo">
              <div class="example-small-box mat-elevation-z4">
                <img style="width:450px; height:400px;" src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/368233645_776930354437617_8507212515446011412_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5614bc&_nc_eui2=AeGy-yu2pP2hjIaQGCWBoSAINdhILCe8cNs12EgsJ7xw2yp6z0ukygs3Vq2zxFFRvhKdL4HSo5WfYUQQI0-jptlc&_nc_ohc=CNBkCq1hBSQAX9xlzOy&_nc_ht=scontent-qro1-1.xx&oh=00_AfD8Z-8OLuvx4IzaTji4Mp9Pqb_whQfqoarOBVM8i5zQPQ&oe=6514BB50">
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
</div>