<div class="conteiner"> 
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="620px" src="https://scontent.fntr10-1.fna.fbcdn.net/v/t39.30808-6/394693021_819000253563960_7169949891363740553_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=DdTBYHY9ayMAX8xH3Kx&_nc_ht=scontent.fntr10-1.fna&oh=00_AfDIGCxjlEXMcCaLSow88ZKdL6a3CXJfJAzrmoQIInzFLw&oe=654278D8" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img height="620px" src="https://scontent.fntr10-1.fna.fbcdn.net/v/t39.30808-6/394460548_819000753563910_8105036331869995861_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Qlg9BqHhf74AX9fJwJB&_nc_ht=scontent.fntr10-1.fna&oh=00_AfANaW0AHmxQb6pywGOyB7pLzLjZWciv3W8IkLaYEOlbKQ&oe=6542AEA0" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img height="620px" src="https://scontent.fntr10-1.fna.fbcdn.net/v/t39.30808-6/394743420_819000710230581_5328692192508232558_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=MYT33DgSe7oAX9DTJ8Z&_nc_ht=scontent.fntr10-1.fna&oh=00_AfDNzxAhe9NNT3y8iGvBaWJXOpi4cFY-wGNMf4TyZxFygw&oe=654299F1" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img height="620px" src="https://scontent.fntr10-2.fna.fbcdn.net/v/t39.30808-6/394486921_819000670230585_3198271190802425632_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=7FhL8TYOUcAAX8xQ0ww&_nc_ht=scontent.fntr10-2.fna&oh=00_AfC0uOC6mQ7HM8r2LlPnYXwzbrEZxiiLqNXS1cOoVOZCGA&oe=654394F5" class="d-block w-100">
      </div>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
