<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
<div class="padre">
    
    <img src="https://scontent-dfw5-1.xx.fbcdn.net/v/t39.30808-6/309846422_521871349943520_1574565186009165638_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=1b51e3&_nc_eui2=AeHsrp7bPYIQFjWstbEXJ_9jMM2yt9opxGYwzbK32inEZstAxDm03kX9XS3n3PrFpafshHJQ4H4r6biZBWFSbgZL&_nc_ohc=K0HRZqU_47oAX_I6OR4&_nc_zt=23&_nc_ht=scontent-dfw5-1.xx&oh=00_AfAXibAyA39hd-0CJguZWjhYrTobnQ65rssWdWD79_xnPA&oe=650F5C74">
    
    <h2>
        <span>
            BBQ HOUSE
        </span>
    </h2>

    <p style="font-size: 10px; color: aliceblue;">
         @BBQ HOUSE 2023
    </p>

    <hr>
    
    <br>
    <div class="navegar">
        <div class="navegar">
            <ul>
                <li>
                    <a class="facebook" href="https://www.facebook.com/SANFCOBBQOUSE" title="facebook">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="#" title="Instagram">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

