<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
<div class="padre">
    
    <img src="https://scontent.fntr10-2.fna.fbcdn.net/v/t39.30808-6/396053736_821339656663353_6118996697743166126_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=PF7swDLcokEAX86gTWx&_nc_ht=scontent.fntr10-2.fna&oh=00_AfCGRDVsfp9kapIkfQT_gbzjJosXOy1tvgqH4W1133lukg&oe=6542E3C5">
    <h2>
        <span>
            BBQ HOUSE
        </span>
    </h2>

    <p style="font-size: 10px; color: aliceblue;">
         @BBQ HOUSE 2023
    </p>

    <hr>
    
    <br>
    <div class="navegar">
        <div class="navegar">
            <ul>
                <li>
                    <a class="facebook" href="https://www.facebook.com/SANFCOBBQOUSE" title="facebook">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="#" title="Instagram">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
//jasipauEstuvoAca

