<div class="conteiner">
  <h2>Menu</h2>  
    <div class="pedido">
      <h3>Generar Compra</h3>
      <h4>usuario: {{user}}</h4>
      <form #pedido="ngForm" (submit)="enviarPedido(pedido)" style="width: 100%;">
        <mat-form-field style="width: 100%;">
          <textarea matInput ngModel required placeholder="Pedido" type="text" name="pedido" pedido="ngModel"></textarea>
          <mat-error *ngIf="pedido.invalid">Ingresa tu pedido</mat-error>
        </mat-form-field>
        <button mat-raised-button style="width: 100%;" type="submit">Enviar Pedido</button>
      </form>
      <div class="pdf">
        <button mat-raised-button style="width: 100%;" (click)="generatePDF()">Generar Validacion</button>
      </div>
    </div>
</div>


