<div class="conteiner">

  <h2>Menu</h2>  

  <mat-accordion multi="true" *ngIf="menus.length > 0">
    <mat-expansion-panel *ngFor="let post of menus">
      <mat-expansion-panel-header>
        <b>{{post.titulo}}</b>
      </mat-expansion-panel-header>
      <div>
        <p style="margin: 10px;"><b>Descripcion: </b>{{post.descripcion}}</p>
        <p style="margin: 10px;"><b>Precio: </b>{{post.precio}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br>
    <div class="pedido">
      <h3>Generar Compra</h3>
      <h4>usuario: {{user}}</h4>
      <form #pedido="ngForm" (submit)="enviarPedido(pedido)" style="width: 100%;">
        <mat-form-field style="width: 100%;">
          <textarea matInput ngModel required placeholder="Pedido" type="text" name="pedido" pedido="ngModel"></textarea>
          <mat-error *ngIf="pedido.invalid">Ingresa tu pedido</mat-error>
        </mat-form-field>
        <button mat-raised-button style="width: 100%;" type="submit">Enviar Pedido</button>
      </form>
      <div class="pdf">
        <button mat-raised-button style="width: 100%;" (click)="generatePDF()">Generar Validacion</button>
      </div>
    </div>
</div>


