<div class="container">
    <mat-card>
      <mat-card-content>
        
        <h1 style="color: black; width: 100%;">Recuperar Contraseña</h1>

        <form (submit)="enviar(login)" #login="ngForm">
          <mat-form-field>
            <input matInput placeholder="Correo de usuario" ngModel required name="correo" type="text" #correo="ngModel">
          </mat-form-field>
          <mat-card-actions>
            <button mat-button type="submit">Enviar Correo</button>
          </mat-card-actions>
        </form>
        
      </mat-card-content>
    </mat-card>

  </div>