  <div class="container">
    <mat-card>
      <mat-card-content>
        <h1 style="color: orange; width: 100%;">Login</h1>
  
        <form (submit)="logIn(login)" (submit)="logTypeIn(login)" (submit)="logIdIn(login)" #login="ngForm">
        
          <mat-form-field>
            <input matInput placeholder="Nombre de usuario" ngModel required name="nombre" type="text" #nombre="ngModel">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" ngModel required name="password" type="password" #password="ngModel">
          </mat-form-field>
  
          <mat-card-actions>
            
            <button mat-button type="submit">Iniciar sesión</button>
            <button mat-button routerLink="/register">Registrarse</button>
            
          </mat-card-actions>
        </form>

        <button class="boton" mat-button routerLink="/recuperar">Recuperar contraseña</button>
        
      </mat-card-content>
    </mat-card>
  </div>

<!--
        <button mat-button (click)="generarPDF(login)">Generar PDF</button>
         -->