<div class="container">
   <hr>
  <div *ngIf="validar()" class="padre_admin">
    <h2>Administrador</h2>
    <hr>
    <h3>Usuarios Existentes</h3>
    <mat-accordion multi="true" *ngIf="users.length > 0">
      <mat-expansion-panel *ngFor="let user of users">
        <mat-expansion-panel-header>
        <h5>Usuarios -</h5>
         {{user.email}}
        </mat-expansion-panel-header>
        <h5>Contraseña- </h5>
        <p>{{user.password}}</p>
        <mat-action-row>
          <button mat-button *ngIf="user.id != validarUsuario()" (click)="onDelete(user.id)" color="warn">Eliminar</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    
    <p class="info-text mat-body-1" *ngIf="users.length <= 0">
        No hay Usuarios
    </p>

    <br>

    <div class="admin">
      <h3>Creacion de Admins</h3>
        <form (submit)="SignUp(login)" #login="ngForm">
        <mat-form-field>
          <input matInput placeholder="Nombre de usuario" ngModel required name="email" type="text" #email="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña" ngModel required name="password" type="password" #password="ngModel">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Nombre de usuario" ngModel required name="nombre" type="text" #nombre="ngModel">
          <mat-error *ngIf="email.invalid">Ingresa un dato</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Apellido de usuario" ngModel required name="apellido" type="text" #apellido="ngModel">
          <mat-error *ngIf="email.invalid">Ingresa un dato</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Numero de telefono" ngModel required name="numero" type="text" #numero="ngModel">
          <mat-error *ngIf="email.invalid">Ingresa un dato</mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button mat-button color="primary" type="submit">Iniciar</button>
        </mat-card-actions>

      </form>
    </div>
  </div>  
</div>
