<div class="container">
  <div *ngIf="validar()" class="padre_admin">
    <h2>Administrador</h2>
    <hr>
    <h3>Usuarios Existentes</h3>
    <mat-accordion multi="true" *ngIf="users.length > 0">
      <mat-expansion-panel *ngFor="let user of users">
        <mat-expansion-panel-header>
        <h4>{{user.nombre}}</h4>
        </mat-expansion-panel-header>
        <h5>Tipo De usuario: {{user.usertype}}</h5>
        <h5>Contraseña: {{user.password}}</h5>
        <h5>Correo: {{user.email}}</h5>
        <h5>Apellido: {{user.apellido}}</h5>
        <h5>Numero: {{user.numero}}</h5>
        <mat-action-row>
          <button mat-button *ngIf="user.id != validarUsuario()" (click)="onDelete(user.id)" color="warn">Eliminar</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    
    <p class="info-text mat-body-1" *ngIf="users.length <= 0">
        No hay Usuarios
    </p>
    
    <br>

    <div class="admin">
      <h3>Creacion de Admins</h3>
        
      <form (submit)="SignUp(login)" #login="ngForm">

        <mat-form-field>
          <input matInput placeholder="Correo" ngModel required name="email" type="text" #email="ngModel">
          <mat-error *ngIf="email.invalid">Ingresa un dato</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Usuario" ngModel required name="nombre" type="text" #nombre="ngModel">
          <mat-error *ngIf="nombre.invalid">Ingresa un dato</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña" ngModel required name="password" type="password" #password="ngModel">
          <mat-error *ngIf="password.invalid">Ingresa un dato</mat-error>
        </mat-form-field>
      
        <mat-card-actions>
          <button mat-button color="primary" type="submit">Iniciar</button>
        </mat-card-actions>

      </form>
    </div>
  </div>  
</div>
