.conteiner {
    padding: 50px;
    margin: auto;
    width: 80%;
    height: auto;
    justify-content: center;
}

.padre_admin{
    border: black 1px solid ;
    padding: 30px;
}

h2,h3 {
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: orange; 
    font-weight: bold;
}

.admin{
    margin-top: 10px;
    border: black 1px solid;
    padding: 50px;
    width: 50%;
    margin: auto;
    text-align: center;
}

mat-card-actions{
    justify-content: center;
}