<div class="conteiner">
    <header>
        <app-header></app-header>
    </header>
  
    <main>
      <div>
        <app-back></app-back>
      </div>
      
      <br>
      
      <div>
        <app-carrusel></app-carrusel>
      </div>
      
      <br>
  
      <div>
        <app-menu></app-menu>
      </div>
  
      <div>
        <app-tree></app-tree>  
      </div>
      
      <div>
        <app-galery></app-galery>
      </div>
  
      <div>
        <app-dialog></app-dialog>
      </div>
  
      <div>
        <app-form></app-form>
      </div>
  
      <div>
        <app-card></app-card>
      </div>
  
    </main>
    
    <footer>
      <app-footer></app-footer>
    </footer>
</div>
